<nav class="paginator" *ngIf="getPageIndex() > 0">
  <p>{{ getTotal() }} résultats</p>
  <a id="paginator-anchor-bottom"></a>
  <button
    mat-stroked-button
    class="prev-next-button"
    type="button"
    (click)="getPreviousResults()"
  >
    <
  </button>
  <ol>
    <li
      *ngFor="let page of getPagesRange(); let index = index"
      [ngClass]="{ highlight: page === getPageIndex() }"
      (click)="getIndexPageResults(page)"
    >
      <a href="#">{{ page }}</a>
    </li>
  </ol>
  <button
    class="prev-next-button"
    mat-stroked-button
    type="button"
    (click)="getNextResults()"
  >
    >
  </button>
  <app-select-results-size
    class="app-select-results-size"
  ></app-select-results-size>

  <div class="anchor">
    <a href="#anchor-top"
      ><mat-icon class="icon-to-top" fontIcon="arrow_upward"></mat-icon
    ></a>
  </div>
</nav>
