<form
  class="search-form"
  (ngSubmit)="onSubmit()"
  (keydown.enter)="onEnter($event)"
>
  <mat-form-field [ngClass]="value ? 'search-form-min' : 'search-form-max'">
    <mat-label>Recherchez dans 27,3 M de documents</mat-label>
    <input
      matInput="search"
      type="search"
      [(ngModel)]="value"
      id="search"
      name="search"
      autofocus
    />
    <button
      *ngIf="value"
      matSuffix
      mat-icon-button
      aria-label="Effacer"
      (click)="value = ''"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <button
    *ngIf="value"
    mat-stroked-button
    type="submit"
    (ngSubmit)="onSubmit()"
  >
    Rechercher
  </button>
</form>
<div class="anchor">
  <a href="#paginator-anchor-bottom" *ngIf="areResultsDisplayed()"
    ><mat-icon class="icon-to-bottom" fontIcon="arrow_downward"></mat-icon
  ></a>
</div>
