/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #333;
  background: #DBDBEB;
}

.container {
  max-width: 1144px;
  margin: 0px auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, minmax(60px, auto));
  gap: 10px;
}


.app-header {
  grid-column: 1/6;
}

header {
  display: flex;
  align-items: center;
}

header img {
  max-width: 200px;
  margin-right: 20px;
}

.app-search {
  grid-column: 1/6;
}

.app-results {
  grid-column: 1/5;
}

.app-facets {
  grid-column: 5;
  display: flex;
  flex-direction: column;
}


section {
  color: #333;
  background: #fff;
  margin: 10px;
  padding: 30px 20px;
  border-radius: 10px;
}

li {
  list-style: none;
}

/* paginator */
.highlight { color: red; }

.app-facet {
  padding: 5px;
  margin: 5px;
  border: 1px solid #333;
}
