<ol *ngIf="facetCategory < 3">
  <li *ngFor="let facetElement of facetGroup">
    <input
      type="checkbox"
      name="{{ facetElement.key }}"
      value="{{ facetElement.key }}"
      (click)="onCheck(facetCategory, facetElement.key)"
    />
    <label for="{{ facetElement.key }}">{{ facetElement.key }}</label>
    {{ facetElement.docCount }}
  </li>
</ol>

<div *ngIf="facetCategory === 3" class="slider">
  {{ facetCategory }}
  <p>Min value: <input type="number" [(ngModel)]="minValue" /></p>
  <p>Max value: <input type="number" [(ngModel)]="maxValue" /></p>
  <ngx-slider
    [(value)]="minValue"
    [(highValue)]="maxValue"
    [options]="options"
  ></ngx-slider>
  <button type="button" (click)="onSubmit()">Valider</button>
</div>
