<app-facet
  *ngIf="facets | async"
  class="app-facet"
  [facetGroup]="(facets | async)!.aggregations.corpusName"
  [facetCategory]="0"
></app-facet>
<app-facet
  *ngIf="facets | async"
  class="app-facet"
  [facetGroup]="(facets | async)!.aggregations.genre"
  [facetCategory]="1"
></app-facet>
<app-facet
  *ngIf="facets | async"
  class="app-facet"
  [facetGroup]="(facets | async)!.aggregations.language"
  [facetCategory]="2"
></app-facet>
<app-facet
  *ngIf="facets | async"
  class="app-facet"
  [facetGroup]="(facets | async)!.aggregations.publicationDate"
  [facetCategory]="3"
></app-facet>
