<app-facet
  *ngIf="(facets | async)!.corpusNamecheckedFacets.length"
  class="app-facet"
  [facetGroup]="(facets | async)!.corpusNamecheckedFacets"
  [facetCategory]="0"
></app-facet>
<app-facet
  *ngIf="(facets | async)!.genrecheckedFacets.length"
  class="app-facet"
  [facetGroup]="(facets | async)!.genrecheckedFacets"
  [facetCategory]="1"
></app-facet>
<app-facet
  *ngIf="(facets | async)!.languagecheckedFacets.length"
  class="app-facet"
  [facetGroup]="(facets | async)!.languagecheckedFacets"
  [facetCategory]="2"
></app-facet>
<app-facet
  *ngIf="(facets | async)!.publicationDatecheckedFacets.length"
  class="app-facet"
  [facetGroup]="(facets | async)!.publicationDatecheckedFacets"
  [facetCategory]="3"
></app-facet>
